# Ignore node_modules for both frontend and backend
**/node_modules/

# Ignore .env files for both frontend and backend
**/.env
**/.env.production

# If you have other environment-specific files, ignore them as well
**/.env.*.local
